<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plant Disease Diagnosis</title>
   
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  
    <script src="{{ url_for('static', filename='js/newjs.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" href="static\css\style.css">
    <link rel="stylesheet" media="screen and (max-width : 1100px)" href="static\css\phone.css">
</head>

<body>
    <nav id="navbar" class="h-nav-resp navbar">
        <div id="logo" class="v-class-resp">
            <img src="static\img\Farmetic_logo.png" alt="">
        </div>
        
        
        <ul class="nav-list v-class-resp">
            <div id="logo_mobile">
                <img src="static\img\Farmetic_logo.png" alt="">
            </div>  
            <li id="li1" class="item"><a href="https://smart-krishi.up.railway.app/">Home</a></li>
            <li id="li2" class="item"><a href="https://smart-krishi.up.railway.app/#about-section">About</a></li>
            <li id="li3" class="item"><a href="https://smart-krishi.up.railway.app/predict_crop">Predict Crop</a></li>
            <li id="li4" class="item"><a href="https://smart-krishi.up.railway.app/predict_fertilizer">Fertilizer Check</a></li>
            <li id="li4" class="item"><a href="#">Plant Diagnosis</a></li>
            <li id="li4" class="item"><a href="https://smart-krishi.up.railway.app/#contact">Contact Us</a></li>
            

        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

    </nav>

    {% block content %}
    {% endblock %}

</body>

<footer>
  

</footer>

</html>